[Desktop Entry]
Version=1.0
Name=yau
Comment=Minimal update checker daemon
TryExec=yau
Exec=yau
Icon=update-low
Terminal=false
Type=Application
Categories=System;
Keywords=updates;yau;pill;aur;update;
X-GNOME-UsesNotifications=true
